.welcome {
    padding-top: 100px;
    margin-bottom: 125px;
    text-align: center;
}

.welcome h1 {
    font-size: 72px;
}

.featured-movies {
    text-align: left;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 20%;
}

.featured-movies h1 {
    text-align: left;
}

